<!-- Preview -->
<div class="card card-border border-base-300 card-sm bg-base-100">
  <div class="card-body gap-4">
    <h2 class="flex justify-between items-center">
      <span class="font-semibold flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="size-5 text-primary opacity-40">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
        </svg>
        Top {{ data.length }} categories
      </span>
    </h2>

    <div class="flex flex-col">
      <ul class="list">
        <li *ngFor="let item of data; index as i;"
             class="list-row">
          <div class="font-thin opacity-30 tabular-nums">
            {{ i + 1 }}
          </div>
          <div class="list">
            <div class="font-semibold opacity-60">
              <app-category-badge [categoryId]="item.categoryId" [showIcon]="true"/>
            </div>
          </div>
          <div class="font-semibold opacity-60 px-3">
            {{ item.amount | amount }}
          </div>
        </li>

      </ul>

    </div>
  </div>
</div>
