<div class="card card-border border-base-300 card-sm bg-base-100">
  <div class="card-body gap-4">
    <h2 class="flex justify-between items-center">
      <span class="font-semibold flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="size-5 opacity-40">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z">
        </path>
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z">
         </path>
        </svg>
        {{ cardTitle }}
      </span>
      <span *ngIf="routerLink" class="text-xs link"
        routerLink="{{routerLink}}">
        more
      </span>
    </h2>

    <div class="overflow-x-auto">
      <table class="table table-auto w-full">
        <!-- Table Head -->
        <thead>
        <tr>
          <th *ngFor="let column of columns" class="bg-base-200 text-left px-4 py-2">
            {{ column.label }}
          </th>
        </tr>
        </thead>
        <!-- Table Body -->
        <tbody>
        <tr *ngFor="let row of items" class="hover:bg-base-100">
          <td *ngFor="let column of columns" class="border-b border-base-200 px-4 py-2">
            {{ row[column.key] }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

