<dialog #dialog_transaction
        id="dialog_transaction"
        class="modal modal-bottom sm:modal-middle">
  <div class="modal-box flex flex-col items-center gap-4">

    <div class="card card-bordered border-base-300 card-sm overflow-hidden w-full max-w-md mx-auto">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <!-- Header -->
      <div class="border-b border-base-300 border-dashed">
        <div class="flex items-center justify-between p-4">
          <!-- Title -->
          <div class="text-sm font-medium flex items-center gap-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="size-5 text-primary opacity-40">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"></path>
            </svg>
            {{ !transactionId ? "Create" : "Detail" }}
          </div>
        </div>
      </div>

      <form [formGroup]="formGroup"
            (ngSubmit)="save()">

        <div class="p-4">
          <div class="flex flex-col items-center card card-border glass"
               [ngClass]="{
                  'bg-success': formGroup.get('flow')?.value === Flow.Income,
                  'bg-error': formGroup.get('flow')?.value === Flow.Expense
                }">
            <!-- Flow Selector -->
            <div>
              <app-flow-selector
                formControlName="flow"
                [flow]="formGroup.get('flow')?.value"
              ></app-flow-selector>
            </div>

            <!-- Amount -->
            <div class="p-4"
                 [ngClass]="{
                  'text-success': formGroup.get('flow')?.value === Flow.Income,
                  'text-error': formGroup.get('flow')?.value === Flow.Expense
                }">
              <label class="input flex items-center">
                <!-- Flow Symbol -->
                <span class="text-lg font-bold">
                  {{
                    formGroup.get('flow')?.value === Flow.Income
                      ? '+'
                      : formGroup.get('flow')?.value === Flow.Expense
                        ? '−'
                        : ''
                  }}
                </span>
                <!-- Amount Input -->
                <input
                  formControlName="amount"
                  type="number"
                  class="grow text-lg text-center bg-transparent outline-none"
                  placeholder="0,00"
                />

                <!-- Currency Icon -->
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 opacity-50"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M14.25 7.756a4.5 4.5 0 1 0 0 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </label>
            </div>
          </div>
        </div>

        <div class="divider text-xs">Details</div>

        <!-- Date -->
        <div class="p-4 grid grid-cols-2 gap-4 items-center">
          <div>
            <label class="font-semibold text-sm text-base-content/80 bg-base-200 p-2 rounded-lg">
              Date
            </label>
          </div>
          <input formControlName="date"
                 type="date">
        </div>

        <!-- Category Select -->
        <div class="p-4 grid grid-cols-2 gap-4 items-center">
          <div>
            <label class="font-semibold text-sm text-base-content/80 bg-base-200 p-2 rounded-lg">
              Category
            </label>
          </div>
          <div class="filter flex justify-center">
            <div *ngFor="let category of categories">
              <input
                class="btn btn-sm text-white"
                type="radio"
                name="categoryId"
                [value]="category.id"
                (change)="formGroup.patchValue({ categoryId: category.id })"
                [checked]="formGroup.get('categoryId')?.value === category.id"
                [attr.aria-label]="category.name"
                [ngStyle]="{ 'background-color': category.color }"
              />
            </div>
            <!-- Reset button -->
            <input class="filter-reset btn btn-sm btn-ghost hover:bg-transparent hover:border-none"
                   type="radio"
                   name="categoryId"
                   [value]="''"
                   (change)="formGroup.patchValue({ categoryId: '' })"
                   [checked]="!formGroup.get('categoryId')?.value"
                   aria-label="All"
            />
<!--            <div>-->
<!--              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"-->
<!--                   stroke="currentColor" class="size-5">-->
<!--                <path stroke-linecap="round" stroke-linejoin="round"-->
<!--                      d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z"/>-->
<!--                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z"/>-->
<!--              </svg>-->
<!--            </div>-->
          </div>
        </div>

        <!-- Description Textarea -->
        <div *ngIf="formGroup.get('categoryId')?.value !== ''"
             class="p-4">
          <textarea formControlName="description"
                    class="textarea w-full resize-none border-base-300 border-ghost"
                    placeholder="Description">
          </textarea>
        </div>

        <!-- Buttons -->
        <div class="p-4 flex justify-center items-center gap-4">

          <!-- Button with Bin Icon -->
          <button *ngIf="transactionId"
                  (click)="confirmDelete()"
                  type="button"
                  class="btn hover:border-base-content">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"/>
            </svg>
            Delete
          </button>

          <button [disabled]="!formGroup.valid"
                  class="btn hover:border-base-content"
                  type="submit">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"/>
            </svg>
            {{ !transactionId ? "Save" : "Update" }}
          </button>
        </div>

      </form>
    </div>

    <app-dialog
      [title]="'Confirm'"
      [content]="'Delete this transaction?'"
      [submitButtonText]="'Delete'"
      [submitButtonColor]="'btn-neutral'"
      [closeButtonText]="'Cancel'"
      (onSubmit)="delete()"
    ></app-dialog>

  </div>
</dialog>
