<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-4">
      <div class="flex flex-col sm:flex-row items-center justify-center gap-4">
        <!-- Search Bar -->
        <div class="w-full sm:w-96">
          <label class="input input-bordered flex items-center gap-2 w-full">
            <svg class="h-4 w-4 opacity-70" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
              </g>
            </svg>
            <input type="search"
                   required
                   placeholder="Search"
                   class="focus:outline-none"
                   [(ngModel)]="searchQuery"
                   (ngModelChange)="onSearchQuery()"
            />
          </label>
        </div>

        <!-- Filters -->
        <div>
          <app-flow-selector
            [flow]="searchFlow"
            [hasResetButton]="true"
            (flowChange)="onFlowChange($event)"
            class="min-w-[10rem]"
          ></app-flow-selector>
        </div>

        <div>
          <app-date-picker
            (datesSelected)="onDatesSelected($event)">
          </app-date-picker>
        </div>
      </div>
  </div>

  <!-- Table -->
  <div class="mb-8">
    <div *ngIf="transactions.length > 0; else noItems" class="overflow-x-auto bg-base-100 rounded-lg shadow-sm">
      <table class="table w-full">
        <!-- Table Head -->
        <thead class="hidden md:table-header-group">
        <tr>
          <th class="bg-base-200">Date</th>
          <th class="bg-base-200">Category</th>
          <th class="bg-base-200">Description</th>
          <th class="bg-base-200">Amount</th>
          <th class="bg-base-200"></th>
        </tr>
        </thead>
        <!-- Table Body -->
        <tbody>
        <tr *ngFor="let transaction of transactions"
            class="block md:table-row mb-4 md:mb-0">
          <!-- Date -->
          <td class="md:table-cell flex justify-between items-center p-4 md:p-2">
            <span class="inline-block md:hidden font-semibold text-base-content/80">Date:</span>
            <span class="md:block">{{ transaction.registrationDate }}</span>
          </td>
          <!-- Category -->
          <td class="md:table-cell flex justify-between items-center p-4 md:p-2">
            <span class="inline-block md:hidden font-semibold text-base-content/80">Category:</span>
            <span class="md:block"><app-category-badge [categoryId]="transaction.categoryId"/></span>
          </td>
          <!-- Description -->
          <td class="md:table-cell flex justify-between items-center p-4 md:p-2 gap-10">
            <span class="inline-block md:hidden font-semibold text-base-content/80">Desc:</span>
            <span class="text-right">{{ transaction.description }}</span>
          </td>
          <!-- Amount -->
          <td class="md:table-cell flex justify-between items-center p-4 md:p-2">
            <span class="inline-block md:hidden font-semibold text-base-content/80">Amount:</span>
            <span class="md:block">{{ transaction.amount | amount }}</span>
          </td>
          <th class="md:table-cell flex justify-between md:p-2">
            <button (click)="openTransactionDialog(transaction.id)"
                    class="text-xs text-dark link">
              details
            </button>
          </th>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noItems>
      <div class="text-center text-base-content/70 py-8">
        No items found.
      </div>
    </ng-template>
  </div>

  <!-- Pagination -->
  <div class="flex justify-center mb-8">
    <div class="join">
      <button class="join-item btn btn-sm" (click)="onPreviousPage()">«</button>
      <button class="join-item btn btn-sm">
        Page {{ pagination.pageIndex + 1 }} of {{ pagination.totalPagesCount }}
      </button>
      <button class="join-item btn btn-sm" (click)="onNextPage()">»</button>
    </div>
  </div>
</div>

<app-transaction-dialog #transactionDialog>
</app-transaction-dialog>
