<div class="px-8 py-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mx-auto pb-20">

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">

      <!-- Total Earnings Card -->
      <div class="card card-border border-base-300 card-sm bg-base-100">
        <div class="card-body">
          <div class="flex items-center justify-between">
            <div>
              <h2 class="card-title text-2xl font-bold text-success">Total Earnings</h2>
              <p class="text-3xl font-semibold mt-2">{{ 12345 | amount }}</p>
            </div>
            <div class="p-3 bg-success/20 rounded-full">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-success">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18 9 11.25l4.306 4.306a11.95 11.95 0 0 1 5.814-5.518l2.74-1.22m0 0-5.94-2.281m5.94 2.28-2.28 5.941" />
              </svg>
            </div>
          </div>
<!--          <div class="mt-4">-->
<!--            <p class="text-sm text-success/80">-->
<!--              <span class="font-semibold">+12%</span> from last month-->
<!--            </p>-->
<!--          </div>-->
        </div>
      </div>

      <!-- Total Expenses Card -->
      <div class="card card-border border-base-300 card-sm bg-base-100">
        <div class="card-body">
          <div class="flex items-center justify-between">
            <div>
              <h2 class="card-title text-2xl font-bold text-error">Total Expenses</h2>
              <p class="text-3xl font-semibold mt-2">$8,765</p>
            </div>
            <div class="p-3 bg-error/20 rounded-full">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8 text-error">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6 9 12.75l4.286-4.286a11.948 11.948 0 0 1 4.306 6.43l.776 2.898m0 0 3.182-5.511m-3.182 5.51-5.511-3.181" />
              </svg>
            </div>
          </div>
<!--          <div class="mt-4">-->
<!--            <p class="text-sm text-error/80">-->
<!--              <span class="font-semibold">-5%</span> from last month-->
<!--            </p>-->
<!--          </div>-->
        </div>
      </div>
    </div>

  <div class="card card-border border-base-300 card-sm bg-base-100">
    <div class="card-body gap-4">
      <div class="flex justify-center">
        <div class="tabs tabs-box inline-flex flex-nowrap m-4 bg-base-300">
          <input type="radio"
                 name="my_tabs_1"
                 role="tab"
                 class="tab w-1/2"
                 aria-label="Monthly">
          <div class="w-1/2 indicator">
            <div class="indicator-item badge badge-warning badge-xs">
              SALE
            </div>
            <input type="radio"
                   name="my_tabs_1"
                   role="tab"
                   class="tab w-full"
                   aria-label="Yearly"
                   checked="">
          </div>
        </div>
      </div>
      <div class="card-body gap-4">
        <div class="flex flex-col">
          <h4 class="tracking-wide opacity-50 font-bold">Total Spent</h4>
          <div>
            <span class="text-4xl font-black">€ {{totalSpent}}</span>
            <span class="opacity-50">/date range here</span>
          </div>
        </div>
        <div class="flex flex-col text-xs my-2">
          <div class="flex gap-2 items-center border-b border-b-accent/5 pb-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 16 16"
                 fill="currentColor"
                 class="size-4 text-success">
              <path fill-rule="evenodd"
                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm3.844-8.791a.75.75 0 0 0-1.188-.918l-3.7 4.79-1.649-1.833a.75.75 0 1 0-1.114 1.004l2.25 2.5a.75.75 0 0 0 1.15-.043l4.25-5.5Z"
                    clip-rule="evenodd">
              </path>
            </svg>
            20 Tokens per day
          </div>
          <div class="flex gap-2 items-center border-b border-b-accent/5 pb-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 16 16"
                 fill="currentColor"
                 class="size-4 text-success">
              <path fill-rule="evenodd"
                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm3.844-8.791a.75.75 0 0 0-1.188-.918l-3.7 4.79-1.649-1.833a.75.75 0 1 0-1.114 1.004l2.25 2.5a.75.75 0 0 0 1.15-.043l4.25-5.5Z"
                    clip-rule="evenodd">
              </path>
            </svg>
            10 Projects
          </div>
          <div class="flex gap-2 items-center border-b border-b-accent/5 pb-2">
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 16 16"
                 fill="currentColor"
                 class="size-4 text-success">
              <path fill-rule="evenodd"
                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm3.844-8.791a.75.75 0 0 0-1.188-.918l-3.7 4.79-1.649-1.833a.75.75 0 1 0-1.114 1.004l2.25 2.5a.75.75 0 0 0 1.15-.043l4.25-5.5Z"
                    clip-rule="evenodd"></path>
            </svg>
            API Access
          </div>
          <div class="flex gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4 text-error">
              <path fill-rule="evenodd"
                    d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14Zm2.78-4.22a.75.75 0 0 1-1.06 0L8 9.06l-1.72 1.72a.75.75 0 1 1-1.06-1.06L6.94 8 5.22 6.28a.75.75 0 0 1 1.06-1.06L8 6.94l1.72-1.72a.75.75 0 1 1 1.06 1.06L9.06 8l1.72 1.72a.75.75 0 0 1 0 1.06Z"
                    clip-rule="evenodd"></path>
            </svg>
            Priority Support
          </div>
        </div>
      </div>
    </div>
  </div>


  <app-table
    [cardTitle]="'Last 5'"
    [routerLink]="'/transactions'"
    [columns]="tableColumns"
    [items]="tableItems">
  </app-table>

  <!-- Preview -->
  <div class="card card-border border-base-300 card-sm bg-base-100">
    <div class="card-body gap-4">
      <h2 class="flex justify-between items-center">
      <span class="font-semibold flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="size-5 opacity-40">
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z">
        </path>
        <path stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z">
         </path>
        </svg>
        Preview
      </span>
        <span class="text-xs link">
        more
      </span>
      </h2>
      <div class="flex flex-col">

        <ul class="list bg-base-200 rounded-box shadow-md">

          <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Most played songs this week</li>

          <li class="list-row">
            <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/1@94.webp"/></div>
            <div>
              <div>Dio Lupa</div>
              <div class="text-xs uppercase font-semibold opacity-60">Remaining Reason</div>
            </div>
            <div class="btn btn-square btn-ghost">
              tanti soldi
            </div>
            <button class="ghost">
              <!-- Euro SVG -->
              <svg xmlns="http://www.w3.org/2000/svg"
                   fill="none"
                   viewBox="0 0 24 24"
                   stroke-width="1.5"
                   stroke="currentColor"
                   class="size-6 opacity-50">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M14.25 7.756a4.5 4.5 0 1 0 0 8.488M7.5 10.5h5.25m-5.25 3h5.25M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
              </svg>
            </button>
          </li>

          <!--        <li class="list-row">-->
          <!--          <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/4@94.webp"/></div>-->
          <!--          <div>-->
          <!--            <div>Ellie Beilish</div>-->
          <!--            <div class="text-xs uppercase font-semibold opacity-60">Bears of a fever</div>-->
          <!--          </div>-->
          <!--          <button class="btn btn-square btn-ghost">-->
          <!--            <svg class="size-[1.2em]"-->
          <!--                 xmlns="http://www.w3.org/2000/svg"-->
          <!--                 viewBox="0 0 24 24">-->
          <!--              <g stroke-linejoin="round"-->
          <!--                 stroke-linecap="round"-->
          <!--                 stroke-width="2" fill="none"-->
          <!--                 stroke="currentColor">-->
          <!--                <path d="M6 3L20 12 6 21 6 3z"></path>-->
          <!--              </g>-->
          <!--            </svg>-->
          <!--          </button>-->
          <!--          <button class="btn btn-square btn-ghost">-->
          <!--            <svg class="size-[1.2em]"-->
          <!--                 xmlns="http://www.w3.org/2000/svg"-->
          <!--                 viewBox="0 0 24 24">-->
          <!--              <g stroke-linejoin="round"-->
          <!--                 stroke-linecap="round"-->
          <!--                 stroke-width="2"-->
          <!--                 fill="none"-->
          <!--                 stroke="currentColor">-->
          <!--                <path-->
          <!--                  d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>-->
          <!--              </g>-->
          <!--            </svg>-->
          <!--          </button>-->
          <!--        </li>-->

          <!--        <li class="list-row">-->
          <!--          <div><img class="size-10 rounded-box" src="https://img.daisyui.com/images/profile/demo/3@94.webp"/></div>-->
          <!--          <div>-->
          <!--            <div>Sabrino Gardener</div>-->
          <!--            <div class="text-xs uppercase font-semibold opacity-60">Cappuccino</div>-->
          <!--          </div>-->
          <!--          <button class="btn btn-square btn-ghost">-->
          <!--            <svg class="size-[1.2em]"-->
          <!--                 xmlns="http://www.w3.org/2000/svg"-->
          <!--                 viewBox="0 0 24 24">-->
          <!--              <g stroke-linejoin="round"-->
          <!--                 stroke-linecap="round"-->
          <!--                 stroke-width="2"-->
          <!--                 fill="none"-->
          <!--                 stroke="currentColor">-->
          <!--                <path d="M6 3L20 12 6 21 6 3z"></path>-->
          <!--              </g>-->
          <!--            </svg>-->
          <!--          </button>-->
          <!--          <button class="btn btn-square btn-ghost">-->
          <!--            <svg class="size-[1.2em]"-->
          <!--                 xmlns="http://www.w3.org/2000/svg"-->
          <!--                 viewBox="0 0 24 24">-->
          <!--              <g stroke-linejoin="round"-->
          <!--                 stroke-linecap="round"-->
          <!--                 stroke-width="2"-->
          <!--                 fill="none"-->
          <!--                 stroke="currentColor">-->
          <!--                <path-->
          <!--                  d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"></path>-->
          <!--              </g>-->
          <!--            </svg>-->
          <!--          </button>-->
          <!--        </li>-->

        </ul>

      </div>
    </div>
  </div>


  <!--Last week -->
  <div class="card card-border border-base-300 card-sm bg-base-100">
    <div class="card-body gap-4">
      <div class="grid grid-cols-7 border-b border-dashed border-b-base-300 pb-3">
        <div class="flex flex-col items-center py-1 px-2 rounded-field">
          <span class="text-sm font-semibold">12</span>
          <span class="text-[10px] font-semibold opacity-50">M</span>
        </div>
        <div class="flex flex-col items-center py-1 px-2 rounded-field">
          <span class="text-sm font-semibold">13</span>
          <span class="text-[10px] font-semibold opacity-50">T</span>
        </div>
        <div class="flex flex-col items-center py-1 px-2 rounded-field bg-primary text-primary-content">
          <span class="text-sm font-semibold">14</span>
          <span class="text-[10px] font-semibold opacity-50">W</span>
        </div>
        <div class="flex flex-col items-center py-1 px-2 rounded-field">
          <span class="text-sm font-semibold">15</span>
          <span class="text-[10px] font-semibold opacity-50">T</span>
        </div>
        <div class="flex flex-col items-center py-1 px-2 rounded-field">
          <span class="text-sm font-semibold">16</span>
          <span class="text-[10px] font-semibold opacity-50">F</span>
        </div>
        <div class="flex flex-col items-center py-1 px-2 rounded-field">
          <span class="text-sm font-semibold">17</span>
          <span class="text-[10px] font-semibold opacity-50">S</span>
        </div>
        <div class="flex flex-col items-center py-1 px-2 rounded-field">
          <span class="text-sm font-semibold">18</span>
          <span class="text-[10px] font-semibold opacity-50">S</span>
        </div>
      </div>
      <div>
        <label class="input input-sm input-border w-auto flex gap-2 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
            <path fill-rule="evenodd"
                  d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                  clip-rule="evenodd">
            </path>
          </svg>
          <input type="text" placeholder="Search for events">
        </label>
      </div>
      <div class="flex flex-col gap-2">
        <label class="flex gap-2 items-center cursor-pointer">
          <input type="checkbox"
                 class="toggle toggle-sm toggle-primary"
                 checked="">
          <span class="text-xs">Show all day events</span>
        </label>
      </div>
    </div>
  </div>
</div>
</div>
