<app-navbar></app-navbar>
<app-toast></app-toast>
<main class="min-h-screen bg-base-200 flex flex-col overflow-hidden">
  <div class="flex-1 flex flex-col justify-center items-center">
    <div class="w-full">
      <router-outlet />
    </div>
  </div>
</main>

<!--<app-navbar></app-navbar>-->
<!--<app-toast></app-toast>-->
<!--<main class="min-h-screen flex flex-col overflow-hidden">-->
<!--  <div class="flex-1 container mx-auto px-4 flex flex-col justify-center">-->
<!--    <router-outlet />-->
<!--  </div>-->
<!--</main>-->

