<div class="card card-border border-base-300 card-sm bg-base-100">
  <div class="card-body gap-4">
    <h2 class="flex justify-between items-center">
      <span class="font-semibold flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor"
             class="size-5 text-primary opacity-40">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
        </svg>
        Categories Donut
      </span>

      <span class="text-xs link link-primary">
        more
      </span>
    </h2>

    <div class="w-full">
      <div id="chart" class="text-primary card card-border border-base-300 bg-base-200">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [labels]="chartOptions.labels"
          [fill]="chartOptions.fill"
          [stroke]="chartOptions.stroke"
          [tooltip]="chartOptions.tooltip"
          [responsive]="chartOptions.responsive"
          [legend]="chartOptions.legend"
        ></apx-chart>
      </div>
    </div>

  </div>
</div>


